<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="C:/Users/Rohit/IdeaProjects/Learning_Selenium/src/test/java/org/example/Selenium/Selenium19.java">
        <classes>
            <class name="org.example.Selenium.Selenium19">
                <methods>
                    <include name="TestPositive"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>